{% extends 'form_template.html' %}
{% set submit_value = 'Apply' %}
{% set title = 'Change Password' %}

{% block input -%}
<input type='password' name='old_password' required placeholder='current password' class='cute-text-input big-thing cute-thing'></input>
<input type='password' name='new_password' required placeholder='new password' class='cute-text-input big-thing cute-thing'></input>
<input type='password' name='confirm_password' required placeholder='confirm new password' class='cute-text-input big-thing cute-thing'></input>
{%- endblock input %}

{% block error -%}
{% if error == 'wrong_password' %}
<p>current password wrong</p>
{% endif %}
<p style='display:none'>password doesnt match</p>
{%- endblock error %}

