{% extends 'form_template.html' %}
{% set submit_value = 'Send email' %}
{% set title = 'Recover Password' %}

{% block input -%}
<input type='email' name='email' placeholder='email' autofocus required class='big-thing cute-text-input cute-thing'></input>
{%- endblock input %}

{% block error -%}
{% if error == 'wrong_email' %}
<p>there's no account linked to this email :(</p>
<div class='big-thing'>
  <a href={{create_account_url}}><button class='cute-thing cute-button'>Create account</button></a>
</div>
{% endif %}
{%- endblock error %}

